@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
  }

  .bg-grid-light {
    background-image: linear-gradient(
        to right,
        #3b3b3b 1.1px,
        transparent 1.1px
      ),
      linear-gradient(to bottom, #3b3b3b 1.1px, transparent 1.1px);
  }

  .dark .bg-grid-dark {
    background-image: linear-gradient(
        to right,
        #9f9970 1.1px,
        transparent 1.1px
      ),
      linear-gradient(to bottom, #9f9970 1.1px, transparent 1.1px);
  }

  .section-container {
    @apply mx-auto max-w-[88rem] px-4 py-2 md:px-6 md:py-3;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  .animate-scroll:hover {
    animation-play-state: paused;
  }
}
